<h2><%= I18n.t("admin.title") %></h2>

<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#past">Past</a></li>
        <li class="tab col s3"><a class="active" href="#today">Today</a></li>
        <li class="tab col s3"><a href="#future">Future</a></li>
      </ul>
    </div>

    <div id="past" class="col s12">
      <table class="table striped">
        <thead>
          <tr>
            <th scope="col"><%= I18n.t("parking.form.make") %></th>
            <th scope="col"><%= I18n.t("parking.form.license") %></th>
            <th scope="col"><%= I18n.t("parking.form.start_date") %></th>
            <th scope="col"><%= I18n.t("parking.form.end_date") %></th>
            <th scope="col"><%= I18n.t("parking.form.contact") %></th>
            <th><%= I18n.t("admin.delete") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "table", collection: @past, as: :car %>
        </tbody>
      </table>
    </div>

    <div id="today" class="col s12">
      <table class="table striped">
        <thead>
          <tr>
            <th scope="col"><%= I18n.t("parking.form.make") %></th>
            <th scope="col"><%= I18n.t("parking.form.license") %></th>
            <th scope="col"><%= I18n.t("parking.form.start_date") %></th>
            <th scope="col"><%= I18n.t("parking.form.end_date") %></th>
            <th scope="col"><%= I18n.t("parking.form.contact") %></th>
            <th><%= I18n.t("admin.delete") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "table", collection: @today, as: :car %>
        </tbody>
      </table>
    </div>

    <div id="future" class="col s12">
      <table class="table striped">
        <thead>
          <tr>
            <th scope="col"><%= I18n.t("parking.form.make") %></th>
            <th scope="col"><%= I18n.t("parking.form.license") %></th>
            <th scope="col"><%= I18n.t("parking.form.start_date") %></th>
            <th scope="col"><%= I18n.t("parking.form.end_date") %></th>
            <th scope="col"><%= I18n.t("parking.form.contact") %></th>
            <th><%= I18n.t("admin.delete") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "table", collection: @future, as: :car %>
        </tbody>
      </table>
    </div>
  </div>
