<h2><%= I18n.t("admin.title") %></h2>

<table class="table striped responsive-table">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t("parking.form.make") %></th>
      <th scope="col"><%= I18n.t("parking.form.license") %></th>
      <th scope="col"><%= I18n.t("parking.form.nights") %></th>
      <th scope="col"><%= I18n.t("admin.date") %></th>
    </tr>
  </thead>
  <tbody>
    <% @list.each do |car| %>
      <tr>
        <th scope="row"><%= car.make %></th>
        <td><%= car.license %></td>
        <td><%= car.nights %></td>
        <td><%= car.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
