<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t("email.confirmation.title") %></h1>
    <p>
      <%= I18n.t("email.confirmation.introduction") %>
    </p>
    <table border=0>
      <tr>
        <td><%= I18n.t("email.street_address") %></td><td><%= I18n.t("email.actual_street_address") %></td>
      </tr>
      <tr>
        <td><%= I18n.t("parking.form.start_date") %></td><td><%= @parking.start_date %></td>
      </tr>
      <tr>
        <td><%= I18n.t("parking.form.end_date") %></td><td><%= @parking.end_date %></td>
      </tr>
      <tr>
        <td><%= I18n.t("parking.form.code") %></td><td><%= @parking.code %></td>
      </tr>
      <tr>
        <td><%= I18n.t("parking.form.unit") %></td><td><%= @parking.unit %></td>
      </tr>
      <tr>
        <td><%= I18n.t("parking.form.make") %></td><td><%= @parking.make %></td>
      </tr>
      <tr>
        <td><%= I18n.t("parking.form.color") %></td><td><%= @parking.color %></td>
      </tr>
      <tr>
        <td><%= I18n.t("parking.form.license") %></td><td><%= @parking.license %></td>
      </tr>
    </table>
    <p><%= I18n.t("email.salutation") %></p>
    <p><%= I18n.t("email.signature") %></p>
  </body>
</html>
