<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= I18n.t("title") %></title>
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo" alt="<%= I18n.t("nav.brand-alt") %>"><img class="arrow-logo" src="/assets/ArrowLofts.svg"></a>
        <!-- <ul class="right hide-on-med-and-down">
          <li><a href="#"><%= I18n.t("nav.login") %></a></li>
        </ul> -->

        <!--
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#"><%= I18n.t("nav.login") %></a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
      -->
    </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center arrow-green"><%= I18n.t("parking.heading") %></h1>
      </div>
    </div>
    <div class="parallax"><img src="/assets/exterior.jpg" alt="<%= I18n.t("parking.image-alt") %>"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <%= yield %>
        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer arrow-orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><%= I18n.t("footer.brand") %></h5>
          <p class="grey-text text-lighten-4"><%= I18n.t("footer.mission") %></p>


        </div>
        <div class="col l6 s12">
          <h5 class="white-text"><%= I18n.t("footer.additional-resources") %></h5>
          <ul>
            <li><a class="white-text" href="<%= I18n.t("footer.links.one") %>"><%= I18n.t("footer.links.one-text") %></a></li>
            <li><a class="white-text" href="<%= I18n.t("footer.links.two") %>"><%= I18n.t("footer.links.two-text") %></a></li>
            <li><a class="white-text" href="<%= I18n.t("footer.links.three") %>"><%= I18n.t("footer.links.three-text") %></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="white-text" href="<%= I18n.t("footer.copyright-link") %>"><%= I18n.t("footer.copyright") %></a>
      </div>
    </div>
  </footer>
  </body>
</html>
